In [86]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] 

ages.sort() 

print("sorted ages:",ages) 

min_age=min(ages)#Finding minimum age using min() function. 

max_age=max(ages)#Finding maximum age using max() function. 

ages.append(min_age)#Adding minimum age to ages list 

ages.append(max_age)#Adding maximum age to ages list 

length=len(ages) 

mid=int(length/2) 

median=float(ages[mid-1]+ages[mid])/2#Finding median of ages. 

average=float(sum(ages)/length)#Finding average of ages. 

range=max_age-min_age#Finding range of ages. 

print("Minimum age:",min_age) 

print("Maximum age:",max_age) 

print("modified ages:",ages) 

print("median:",median) 

print("Average:",average) 

print("Range:",range)

sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age: 19
Maximum age: 26
modified ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median: 24.0
Average: 22.75
Range: 7

In [90]:
dog={}#creating empty dictionary
dog={"name": "Lusy", "Color":"White","Breed":"Golden Retriever","legs":4,"age":4}#Adding name,color,breed,age,legs to dictionary
print("dog dictionary:",dog)
student={}
student["first_name"]="Arun"
student["last_name"]="Kalagoni"
student["gender"]="Male"
student["age"]=22
student["marital_status"]="single"
student["address"]="overland park,ks"
student["skills"]=["Managment skill,communication skills"]
student["city"]="KS"

print("student:",student)
print("length of student:",len(student))#Finding length of student.
print("value of student skills:",student.get("skills"))#finding values of skills
print("Type:",type(student.get("skills")))#finding type of skills key.
student["skills"]+=["dancing","Acting"]#Modifing skills by adding two new skills.
print("modified student:",student)
print("keys of dictionary:",student.keys())#getting keys of student dictionary.
print("values of dictionary:",student.values())#getting values of student dictionary.

dog dictionary: {'name': 'Lusy', 'Color': 'White', 'Breed': 'Golden Retriever', 'legs': 4, 'age': 4}
student: {'first_name': 'Arun', 'last_name': 'Kalagoni', 'gender': 'Male', 'age': 22, 'marital_status': 'single', 'address': 'overland park,ks', 'skills': ['Managment skill,communication skills'], 'city': 'KS'}
length of student: 8
value of student skills: ['Managment skill,communication skills']
Type: <class 'list'>
modified student: {'first_name': 'Arun', 'last_name': 'Kalagoni', 'gender': 'Male', 'age': 22, 'marital_status': 'single', 'address': 'overland park,ks', 'skills': ['Managment skill,communication skills', 'dancing', 'Acting'], 'city': 'KS'}
keys of dictionary: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'address', 'skills', 'city'])
values of dictionary: dict_values(['Arun', 'Kalagoni', 'Male', 22, 'single', 'overland park,ks', ['Managment skill,communication skills', 'dancing', 'Acting'], 'KS'])

In [49]:
sisters=("sahasra","sahithi","Aishu","Laxshmi","Anusree")#creating sisters tuple.
brothers=("shiva","varun")#creating brothers tuple
print("sisters:",sisters)
print("brothers:",brothers)
siblings=sisters+brothers#Adding sisters and brothers tuple to siblings
print("siblings:",siblings)
print("Number of siblings:",len(siblings))
family_members=siblings+("Jangaiah","sunitha")#Adding mother and father to siblings and assigning to family_members
print("Family members:",family_members)

sisters: ('sahasra', 'sahithi', 'Aishu', 'Laxshmi', 'Anusree')
brothers: ('shiva', 'varun')
siblings: ('sahasra', 'sahithi', 'Aishu', 'Laxshmi', 'Anusree', 'shiva', 'varun')
Number of siblings: 7
Family members: ('sahasra', 'sahithi', 'Aishu', 'Laxshmi', 'Anusree', 'shiva', 'varun', 'Jangaiah', 'sunitha')

In [92]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("length of it_companies:",len(it_companies))#Finding length of it_companies
it_companies.add("Twitter")#Adding Twitter to set.
print(it_companies)
it_companies.update(["virtusa","Epam","cognizant"])#updating the set with multiple items
print(it_companies)
it_companies.remove("Twitter")#Removing the item from set
print(it_companies)
#What is the difference between remove and discard
print("The difference between remove and discard the remove() method will raise an error if the specified item does not exist, and the discard() method will not.")
print("Joining A and B:",A.union(B))#joining A and B
print("intersection of A and b:",A.intersection(B))#Finding intersection of A and B
print("A issubset of B:",A.issubset(B))#Finding A is subset to B
print("A is isdisjoint of b:",A.isdisjoint(B))#Finding A isdisjoint to B
print("joining A with B:",A.union(B))# joining A with B using union function
print("joining B with A:",B.union(A))# joining B with A using union function
print("A symmetric_difference B:",A.symmetric_difference(B))
it_companies.clear()# deleting sets completely 
A.clear()# deleting sets completely 
B.clear()# deleting sets completely 
print(A)
print(B)
print(it_companies)
Ages=set(age)
print("length of set:",len(Ages))
print("length of list:",len(age))

length of it_companies: 7
{'Microsoft', 'Amazon', 'Twitter', 'Facebook', 'Google', 'Apple', 'IBM', 'Oracle'}
{'Twitter', 'Google', 'Oracle', 'virtusa', 'Epam', 'Amazon', 'Facebook', 'Microsoft', 'Apple', 'IBM', 'cognizant'}
{'Google', 'Oracle', 'virtusa', 'Epam', 'Amazon', 'Facebook', 'Microsoft', 'Apple', 'IBM', 'cognizant'}
The difference between remove and discard the remove() method will raise an error if the specified item does not exist, and the discard() method will not.
Joining A and B: {19, 20, 22, 24, 25, 26, 27, 28}
intersection of A and b: {19, 20, 22, 24, 25, 26}
A issubset of B: True
A is isdisjoint of b: False
joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}
A symmetric_difference B: {27, 28}
set()
set()
set()
length of set: 5
length of list: 8

In [54]:
pi=3.14
radius=30
area_of_circle=pi*radius*radius
print("Area of circle:",area_of_circle)#calculating Area of circle
circum_of_circle=2*pi*radius#calculating circumference of a circle
print("circumference of a circle:",circum_of_circle)
#taking radius as user input
rad=float(input("enter the radius:"))
area_of_circle1=pi*rad*rad
print("Area of circle from user input:",area_of_circle1)

Area of circle: 2826.0
 circumference of a circle: 188.4
enetr the radius:5
Area of circle from user input: 78.5

In [71]:
string="I am a teacher and I love to inspire and teach people"
split1=set(string.split())#converting into set and spliting the string
print(split1)
print("Number of unique words:",len(split1))#finding no of unique words

{'to', 'people', 'teach', 'am', 'I', 'love', 'teacher', 'a', 'inspire', 'and'}
Number of unique words: 10

In [72]:
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [73]:
radius = 10
area = 3.14*radius**2#calculating the area
print("The area of a circle with radius %d is %d meters square."%(radius,area))

The area of a circle with radius 10 is 314 meters square.

In [84]:
N=int(input("Enter no of students:"))# taking the user input
print("Enter weightsin lbs")
weights=list(map(int,input().split()))
nweights=[]
for i in weights:
    nweights.append(i*0.45)#coverting into kgs
print("Weights in kgs:",nweights)

Enter no of students:5
Enter weightsin lbs
45 78 56 55 12
Weights in kgs: [20.25, 35.1, 25.2, 24.75, 5.4]